@font-face {
  font-family: 'Circe';
  src: url("../fonts/circe.eot");
  src: url("../fonts/circe.eot?#iefix") format("embedded-opentype"), url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff"), url("../fonts/circe.ttf") format("truetype"), url("../fonts/circe.svg#circe") format("svg");
}

@font-face {
  font-family: 'Circe Bold';
  src: url("../fonts/circe_bold.eot");
  src: url("../fonts/circe_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_bold.woff2") format("woff2"), url("../fonts/circe_bold.woff") format("woff"), url("../fonts/circe_bold.ttf") format("truetype"), url("../fonts/circe_bold.svg#circe_bold") format("svg");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'circe', sans-serif;
  color: #293541;
  overflow-x: hidden;
}

h2 {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
}

h3 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.container {
  max-width: 1184px;
  margin: auto;
}

.button {
  background-color: #F10505;
  border: none;
  padding: 18px 44px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  border-radius: 12px;
  cursor: pointer;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__input {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 15px;
}

.checkbox__label {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 63px;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.navbar-menu__item {
  margin-left: 66px;
}

.my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.my__logo {
  width: 62px;
  height: 62px;
  margin-right: 40px;
}

.my__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.blob {
  position: absolute;
  z-index: -99;
  center: 0;
  -webkit-transform: translate(345px, 0);
          transform: translate(345px, 0);
}

.hero {
  padding: 63px 0 80px 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-info {
  max-width: 572px;
}

.hero-info__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 71px;
  margin-top: 80px;
  margin-bottom: 42px;
}

.hero-info__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 50px;
}

.hero__button {
  margin-bottom: 69px;
}

.colortext {
  color: #F10505;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 147px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}

.social-media__link {
  background-color: #F0F1F3;
  height: 34px;
  width: 34px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  padding: 90px 0 90px 0;
  background-color: #F0F1F3;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  min-width: 572px;
}

.about__title {
  margin-bottom: 15px;
}

.about__subtitle {
  margin-bottom: 30px;
}

.about__text {
  margin: 0;
  font-size: 20px;
  line-height: 29px;
}

.about__img {
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}

.price {
  padding: 140px 0 140px 0;
}

.price__title {
  margin-bottom: 15px;
  text-align: center;
}

.price__subtitle {
  margin-bottom: 44px;
  text-align: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 56px 0;
  min-width: 368px;
  border: 2px solid #A1A5A6;
  border-radius: 20px;
}

.card__button {
  background-color: #A1A5A6;
}

.card__button--red {
  background-color: #F1360B;
}

.card__title {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 27px;
  line-height: 40px;
}

.card__timing {
  margin-bottom: 59px;
  font-size: 20px;
  line-height: 29px;
}

.card__value--new {
  margin-bottom: 73px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.card__value--last {
  position: absolute;
  top: 205px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.portfolio {
  background-color: #F0F1F3;
  padding: 140px 0 140px 0;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__title {
  margin-bottom: 15px;
}

.portfolio__subtitle {
  margin-bottom: 40px;
}

.swiper-container {
  width: 856px;
  height: 440px;
  margin: 0;
  margin-bottom: 42px;
  border-radius: 20px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button {
  height: 138px;
  width: 138px;
  border: none;
  cursor: pointer;
}

.slider-button--next {
  background-image: url("../img/portfolio-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button--prev {
  background-image: url("../img/portfolio-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide {
  width: 100%;
}

.stages {
  padding: 140px 0 140px 0;
}

.stages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 572px;
}

.stages__title {
  margin-bottom: 15px;
}

.stages__subtitle {
  margin-bottom: 60px;
}

.stages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 475px;
}

.stages__item {
  max-width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.stages__icon {
  margin-bottom: 15px;
}

.stages__descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 10px;
}

.stages__text {
  font-size: 17px;
  line-height: 25px;
  margin: 0;
}

.reviews {
  background-color: #F0F1F3;
  padding: 90px 0;
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__title {
  margin: auto;
  margin-bottom: 15px;
}

.reviews__subtitle {
  margin: auto;
  margin-bottom: 60px;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.reviews__item {
  padding: 35px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 368px;
}

.reviews__text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.reviews__subtext {
  margin: auto;
  font-size: 17px;
  line-height: 25px;
}

.reviews__user {
  margin-bottom: 35px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  margin-right: 20px;
  height: 82px;
  width: 82px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.user__city {
  font-size: 16px;
  line-height: 24px;
}

.application {
  padding: 140px 0;
}

.application__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.application__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-width: 572px;
}

.application__title {
  margin-bottom: 15px;
}

.application__subtitle {
  margin-bottom: 60px;
}

.application__form {
  margin: auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 448px;
  padding: 40px;
  background-color: #F1360B;
  border-radius: 20px;
}

.form__input {
  border: none;
  border-radius: 12px;
  padding: 19px 32px;
  margin-bottom: 10px;
}

.form__textarea {
  border: none;
  border-radius: 12px;
  padding: 19px 32px;
  resize: none;
  height: 235px;
  margin-bottom: 23px;
}

.form__checkbox {
  margin-bottom: 23px;
}

.form__button {
  background-color: #293541;
  min-width: 260px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */