@font-face {
  font-family: 'Circe';
  src: url("../fonts/circe.eot");
  src: url("../fonts/circe.eot?#iefix") format("embedded-opentype"), url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff"), url("../fonts/circe.ttf") format("truetype"), url("../fonts/circe.svg#circe") format("svg");
}

@font-face {
  font-family: 'Circe Bold';
  src: url("../fonts/circe_bold.eot");
  src: url("../fonts/circe_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_bold.woff2") format("woff2"), url("../fonts/circe_bold.woff") format("woff"), url("../fonts/circe_bold.ttf") format("truetype"), url("../fonts/circe_bold.svg#circe_bold") format("svg");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'circe', sans-serif;
  color: #293541;
  overflow-x: hidden;
}

h2 {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  margin-bottom: 15px;
}

h3 {
  margin: 0;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.container {
  max-width: 1184px;
  margin: auto;
}

.button {
  background-color: #F1360B;
  border: none;
  padding: 18px 44px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: #F10505;
  color: #fff;
}

.button__link {
  text-decoration: none;
  color: #fff;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__input {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 15px;
}

.checkbox__label {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 63px;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  min-width: 740px;
  list-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.navbar-menu__link:hover {
  color: #F1360B;
}

.navbar-menu__link--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
}

.link {
  text-decoration: none;
  color: #293541;
}

.my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.my__logo {
  width: 62px;
  height: 62px;
  margin-right: 40px;
}

.my__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.blob {
  position: absolute;
  z-index: -99;
  center: 0;
  -webkit-transform: translate(345px, 0);
          transform: translate(345px, 0);
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
  text-decoration: none;
  color: #293541;
}

.hero {
  padding: 63px 0 80px 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-info {
  max-width: 572px;
}

.hero-info__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 71px;
  margin-top: 80px;
}

.hero-info__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 50px;
}

.hero__button {
  margin-bottom: 40px;
}

.colortext {
  color: #F10505;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 147px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media__link {
  background-color: #F0F1F3;
  height: 34px;
  width: 34px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media__link:hover {
  border: 2px solid #A1A5A6;
}

.about {
  padding: 140px 0;
  background-color: #F0F1F3;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  max-width: 572px;
}

.about__text {
  margin: 0;
  font-size: 20px;
  line-height: 29px;
}

.price {
  padding: 140px 0;
}

.price__title {
  text-align: center;
}

.price__subtitle {
  text-align: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 60px 0;
  min-width: 368px;
  border: 2px solid #A1A5A6;
  border-radius: 20px;
}

.card:hover {
  background-color: #F0F1F3;
  border-color: #F0F1F3;
}

.card:hover .card__button {
  background-color: #F1360B;
}

.card:hover .card__button:hover {
  background-color: #F10505;
}

.card__button {
  background-color: #A1A5A6;
}

.card__button--red {
  background-color: #F1360B;
}

.card__title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 27px;
  line-height: 40px;
}

.card__timing {
  margin: 0;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 29px;
}

.card__value--new {
  margin-bottom: 73px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.card__value--last {
  position: absolute;
  top: 205px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.portfolio {
  background-color: #F0F1F3;
  padding: 140px 0;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__swiper-container {
  width: 856px;
  height: 440px;
  margin: 0;
  margin-bottom: 42px;
  border-radius: 20px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button {
  height: 138px;
  width: 138px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button--next {
  background-image: url("../img/portfolio-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button--next:hover {
  background-image: url("../img/portfolio-right--red.svg");
}

.slider-button--prev {
  background-image: url("../img/portfolio-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button--prev:hover {
  background-image: url("../img/portfolio-left--red.svg");
}

.slide {
  width: 100%;
}

.stages {
  padding: 140px 0;
}

.stages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 572px;
}

.stages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 475px;
}

.stages__item {
  max-width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.stages__icon {
  margin-bottom: 15px;
}

.stages__descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 10px;
}

.stages__text {
  font-size: 17px;
  line-height: 25px;
  margin: 0;
}

.reviews {
  background-color: #F0F1F3;
  padding: 140px 0;
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__item {
  padding: 35px 25px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 306px;
}

.reviews__text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.reviews__subtext {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.reviews__user {
  margin-bottom: 35px;
}

.reviews__swiper-container {
  width: 980px;
  height: 100%;
}

.reviews__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__slider {
  width: 100%;
}

.reviews__slider-button {
  height: 102px;
  width: 102px;
}

.reviews__slider-button--next {
  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.reviews__slider-button--next:hover {
  background-image: url("../img/next-red.svg");
}

.reviews__slider-button--prev {
  background-image: url("../img/prev.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.reviews__slider-button--prev:hover {
  background-image: url("../img/prev-red.svg");
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__avatar {
  margin-right: 20px;
  height: 82px;
  width: 82px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.user__city {
  font-size: 16px;
  line-height: 24px;
}

.application {
  padding: 140px 0;
}

.application__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.application__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 448px;
}

.application__subtitle, .application__title {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  background-color: #F1360B;
  border-radius: 20px;
}

.form__input {
  border: none;
  border-radius: 12px;
  padding: 19px 32px;
  margin-bottom: 10px;
}

.form__textarea {
  border: none;
  border-radius: 12px;
  padding: 19px 32px;
  resize: none;
  height: 235px;
  margin-bottom: 23px;
}

.form__checkbox {
  margin-bottom: 23px;
}

.form__button {
  background-color: #293541;
  margin: auto;
}

.footer {
  padding: 60px 0;
  background-color: #293541;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__my {
  margin-bottom: 30px;
}

.footer__button {
  background-color: #fff;
  color: #293541;
  margin-bottom: 24px;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  max-height: 120px;
  margin: 0;
}

.footer__link {
  font-family: Montserrat;
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.contacts__email {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.rights {
  font-size: 20px;
  line-height: 29px;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #F1360B;
  opacity: 0.2;
  visibility: hidden;
}

.modal__overlay--visible {
  z-index: 105;
  visibility: visible;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
}

.modal__dialog--visible {
  z-index: 105;
  visibility: visible;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
  .navbar-menu {
    font-size: 16px;
    line-height: 20px;
    min-width: 550px;
  }
  .hero {
    padding: 40px 0 60px 0;
  }
  .hero-info {
    max-width: 467px;
  }
  .hero-info__title {
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 30px;
  }
  .hero-info__text {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  .hero__img {
    max-width: 467px;
  }
  .about {
    padding: 100px 0;
  }
  .about__img {
    max-width: 467px;
  }
  .about__info {
    max-width: 467px;
  }
  .about__text {
    font-size: 18px;
    line-height: 27px;
  }
  .price {
    padding: 100px 0;
  }
  .card {
    padding: 45px 0;
    min-width: 303px;
  }
  .card__title {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 15px;
  }
  .card__timing {
    margin-bottom: 60px;
  }
  .card__value--new {
    margin-bottom: 60px;
    font-size: 34px;
    line-height: 41px;
  }
  .card__value--last {
    top: 160px;
  }
  .portfolio {
    padding: 100px 0;
  }
  .swiper-container {
    width: 700px;
    height: 400px;
  }
  .stages {
    padding: 100px 0;
  }
  .stages__img {
    max-width: 467px;
  }
  .stages__descr {
    font-size: 20px;
    line-height: 29px;
  }
  .stages__info {
    max-width: 467px;
  }
  .stages__item {
    max-width: 221px;
  }
  .reviews {
    padding: 100px 0;
  }
  .reviews__item {
    padding: 30px 20px;
    max-width: 255px;
  }
  .reviews__swiper-container {
    width: 795px;
    height: 100%;
  }
  .reviews__slider-button {
    width: 82px;
  }
  .reviews__text {
    font-size: 16px;
    line-height: 24px;
  }
  .reviews__subtext {
    max-width: 795px;
    text-align: center;
  }
  .user__avatar {
    margin-right: 10px;
    height: 62px;
    width: 62px;
  }
  .user__name {
    font-size: 16px;
    line-height: 24px;
  }
  .application {
    padding: 100px 0;
  }
  .application__img {
    max-width: 547px;
  }
  .application__info {
    max-width: 385px;
  }
  .form__textarea {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  h2 {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  .button {
    padding: 15px 25px;
    font-size: 15px;
    line-height: 18px;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-width: 100%;
    padding-top: 35px;
  }
  .my--hidden {
    display: none;
  }
  .hero {
    padding: 20px 0 40px 0;
  }
  .hero__img {
    max-width: 340px;
  }
  .hero-info {
    max-width: 340px;
  }
  .hero-info__title {
    font-size: 35px;
    line-height: 43px;
    margin-top: 30px;
  }
  .hero-info__text {
    font-size: 17px;
    line-height: 25px;
  }
  .about {
    padding: 80px 0;
  }
  .about__img {
    max-width: 340px;
  }
  .about__info {
    max-width: 340px;
  }
  .about__text {
    font-size: 15px;
    line-height: 22px;
  }
  .price {
    padding: 80px 0;
  }
  .card {
    padding: 30px 0;
    min-width: 220px;
  }
  .card__title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .card__timing {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .card__value--new {
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 34px;
  }
  .card__value--last {
    top: 115px;
  }
  .portfolio {
    padding: 80px 0;
  }
  .portfolio__swiper-container {
    width: 460px;
    height: 300px;
  }
  .stages {
    padding: 80px 0;
  }
  .stages__img {
    max-width: 340px;
  }
  .stages__info {
    max-width: 340px;
  }
  .stages__item {
    max-width: 100%;
  }
  .stages__items {
    min-height: 840px;
  }
  .reviews {
    padding: 80px 0;
  }
  .reviews__swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__item {
    padding: 30px 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .reviews__swiper-container {
    width: 450px;
  }
  .reviews__slider-button {
    width: 82px;
  }
  .reviews__text {
    font-size: 16px;
    line-height: 24px;
  }
  .reviews__subtext {
    max-width: 600px;
    text-align: center;
  }
  .user__avatar {
    margin-right: 10px;
    height: 62px;
    width: 62px;
  }
  .user__name {
    font-size: 16px;
    line-height: 24px;
  }
  .application {
    padding: 80px 0;
  }
  .application__img {
    max-width: 340px;
  }
  .application__info {
    max-width: 340px;
  }
  .form {
    padding: 30px;
  }
  .form__textarea {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .blob {
    display: none;
  }
  .button {
    padding: 18px 44px;
    font-size: 18px;
    line-height: 22px;
  }
  .hero {
    padding: 40px 0;
  }
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__img {
    max-width: 176px;
  }
  .hero-info {
    max-width: 374px;
  }
  .hero__social-media {
    margin: auto;
  }
  .about {
    padding: 40px 0;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about__info {
    max-width: 100%;
  }
  .about__img {
    max-width: 176px;
    margin-bottom: 30px;
  }
  .price {
    padding: 40px 0;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    padding: 40px 0;
    min-width: 380px;
    margin-bottom: 20px;
  }
  .card__title {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 15px;
  }
  .card__timing {
    margin-bottom: 60px;
  }
  .card__value--last {
    top: 150px;
  }
  .portfolio {
    padding: 40px 0;
  }
  .portfolio__swiper-container {
    width: 576px;
  }
  .slider-button {
    display: none;
  }
  .stages {
    padding: 40px 0;
  }
  .stages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stages__img {
    max-width: 176px;
    margin-bottom: 30px;
  }
  .reviews {
    padding: 40px 0;
  }
  .application {
    padding: 40px 0;
  }
  .application__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application__img {
    max-width: 176px;
    margin-bottom: 30px;
  }
  .footer__button {
    display: none;
  }
  .footer__ul {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }
  .navbar {
    display: none;
  }
  .hero-info__title {
    font-size: 32px;
    line-height: 39px;
  }
  .hero-info__text {
    font-size: 14px;
    line-height: 21px;
  }
  .card {
    min-width: 320px;
    margin-bottom: 20px;
  }
  .card__title {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 15px;
  }
  .card__timing {
    margin-bottom: 60px;
  }
  .card__value--last {
    top: 150px;
  }
  .portfolio {
    text-align: center;
  }
  .portfolio__swiper-container {
    width: 320px;
    height: 200px;
  }
  .reviews__title {
    text-align: center;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__main {
    margin-bottom: 40px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
  .button {
    font-size: 15px;
    line-height: 18px;
  }
  .card {
    padding: 40px 0;
    min-width: 280px;
    margin-bottom: 20px;
  }
  .portfolio__swiper-container {
    width: 280px;
    height: 200px;
  }
  .stages__item {
    margin-bottom: 30px;
  }
  .application__info {
    max-width: 280px;
  }
  .form {
    max-width: 100%;
  }
  .form__textarea {
    height: 120px;
  }
}
/*# sourceMappingURL=style.css.map */