*
  box-sizing: border-box

body
  font-family: 'circe', sans-serif
  color: $text-color

.container
  max-width: 1184px
  margin: auto

.button
  background-color: $secondary
  border: none
  padding: 18px 44px
  color: $light
  font-family: Montserrat
  font-size: 18px
  line-height: 22px
  border-radius: 12px
