.about
  padding: 140px 0
  background-color: $grey
  &__container
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    max-width: 572px
  &__text
    margin: 0
    font-size: 20px
    line-height: 29px
