.application
  padding: 140px 0
  &__container
    display: flex
    justify-content: space-between
    align-items: flex-end
  &__info
    display: flex
    align-items: center
    flex-direction: column
    max-width: 448px
  &__subtitle, &__title
    text-align: center
.form
  display: flex
  flex-direction: column
  padding: 40px
  background-color: $primary
  border-radius: 20px
  &__input
    border: none
    border-radius: 12px
    padding: 19px 32px
    margin-bottom: 10px
  &__textarea
    border: none
    border-radius: 12px
    padding: 19px 32px
    resize: none
    height: 235px
    margin-bottom: 23px
  &__checkbox
    margin-bottom: 23px
  &__button
    background-color: $text-color
    // min-width: 260px
    margin: auto
