.navbar
  display: flex
  justify-content: space-between
  padding-top: 63px
  &-menu
    display: flex
    list-style: none
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 22px
    &__item
      margin-left: 66px
.my
  display: flex
  align-items: center
  text-decoration: none
  color: inherit
  &__logo
    width: 62px
    height: 62px
    margin-right: 40px
  &__text
    display: flex
    flex-direction: column
  &__name
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 29px
